@{
    ViewBag.Title = "Đặt hàng thành công - Ilovestyle.vn";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div class="detail">
<div class="titlelink">
    <ul>
        <li><a href='/'><i class="icon-home" style="font-size: 14px;"></i>Trang chủ</a></li>
        <li class='Last'><span>Xác nhận mua hàng thành công</span></li>
    </ul>
</div>
<div class="container">
<div class="order_success">
    <p>Thành công</p>
</div>
<div class="order_success_text">
    <h2>Chúc mừng quý khách đã đặt hàng thành công!</h2>
    <p>Chúng tôi sẽ liên hệ sớm để xác nhận thời gian nhận hàng với quý khách.</p>
    <p>Chân thành cảm ơn quý khách đã sử dụng dịch vụ của Chúng tôi</p>
    <a href="/">Tiếp tục mua hàng</a>
</div>
</div>
<script type="text/javascript">
        $.removeCookie('onetop_str_item_id', { path: '/' });
</script>
    </div>