@{
    ViewBag.Title = "Xác nhận đăng ký thành công!";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    <meta http-equiv="Refresh" content="10 ; URL=/Home/Index"/>
}
<div class="detail">
<div class="titlelink">
    <ul>
        <li><a href='/'><i class="icon-home" style="font-size: 14px;"></i>Trang chủ</a></li>
        <li class='Last'><span>Xác nhận đăng ký thành công</span></li>
    </ul>
</div>
<div class="container">
<div class="order_success">
    <p>Đăng ký thành công</p>
</div>
<div class="order_success_text">
    <h2>Chúc mừng quý khách đã đăng ký thành công!</h2>
    <p>Bạn đã hoàn tất thủ tục đăng kí tại công ty chúng tôi</p>
    <p>Chân thành cảm ơn quý khách đã sử dụng dịch vụ của Chúng tôi</p>
    <p>Mời bạn click vào<a href="/">đây</a> để trở về trang chủ.</p>
</div>
</div>
    </div>