@*<div id="mini_cart">
    <div  class="ViewCart your-cart">
        <a href="javascript:;" id="cart">
            <span class="numCart">0</span>
            <div class="showCartTop">
                <p>Hiện không có sản phẩm nào trong giỏ hàng</p>
            </div>   
        </a>
    </div>
</div>*@
<p id="cart" class="your-cart"><span class="numCart">(0)</span></p>