<div class="ui-corner-top ui-corner-bottom">
    <div id="toolbox">

        <div style="float: right;" class="toolbox-content">

            <table class="toolbar">
                <tr>
                    <td align="center">
                        <a href="../../UserModule/UserModuleCreate" title="Thêm mới" class="toolbar btn btn-info" href="#"><i class="icon-plus"></i>&nbsp;Thêm mới</a>
                    </td>
                    <td align="center">
                        <button type="submit" title="Bạn chắc chắn muốn xóa danh sách Module này?" id="btnDeleteAll" name="btnDeleteAll" class="deletemultiple toolbar btn btn-info"><i class="icon-remove"></i>&nbsp;Xóa nhiều</button>
                    </td>
                    <td align="center">
                        <button type="submit" id="orderModule" name="btnChange" class="toolbar btn btn-info"><i class="icon-ok"></i>&nbsp;Cập nhật</button>

                        @*<a href="../../UserModule/UpdateDirect" title="Thêm mới" class="toolbar btn btn-info" href="#"><i class="icon-ok"></i>&nbsp;Cập nhật</a>*@

                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
