* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(imagesAdmin/bg_admin.jpg) repeat-x left bottom fixed;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

p, pre, blockquote {
    margin: 3px 0px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

    h1, h1 a {
        Color: #048fee;
        margin: 5px 0px 7px 0px;
        font-size: 22px;
    }

    h2, h2 a {
        Color: #048fee;
        margin: 5px 0px 5px 3px;
        font-size: 16px;
    }

    h3, h3 a {
        Color: #048fee;
        margin: 2px 0px 5px 0px;
        font-size: 16px;
    }

    h4, h4 a {
        Color: #048fee;
        margin: 1px 0px 4px 0px;
        font-size: 12px;
    }

ul, ol {
    list-style: none;
}

    ul li {
        line-height: 160%;
        padding-left: 30px;
    }

    ol li {
        line-height: 180%;
        margin-left: 35px;
    }

th {
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

fieldset {
    border: none;
    padding: 10px 5px;
}

    fieldset a {
        font-weight: bold;
    }

    fieldset.input {
        padding: 0px;
    }

input[type="checkbox"] {
    width: 14px;
}

table {
    border: 0;
    margin: 0px;
    padding: 0px;
}

td, div {
    font-size: 100%;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {
    padding: 1px 6px;
    border: none;
}

.clearfix {
    display: block;
}

    .clearfix:after {
        clear: both;
        display: block;
        content: ".";
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.main {
    width: 100%;
}

#header {
    background: url(imagesAdmin/top_bg_c.jpg) repeat-x bottom;
}

    #header .div {
        background: url(imagesAdmin/top_bg_l.jpg) no-repeat left bottom;
    }

    #header .tableAd {
        background: url(imagesAdmin/top_bg_r.jpg) no-repeat bottom right;
        width: 100%;
        min-width: 1000px;
        font-size: 10px;
        font-weight: bold;
    }

        #header .tableAd td {
            vertical-align: middle;
        }

    #header .logo {
        height: 40px;
        padding-left: 10px;
        Color: #0a6ccf;
        font-size: 20px;
        vertical-align: middle;
    }

    #header .left {
        height: 25px;
        line-height: 25px;
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        Color: #FFFFFF;
        font-weight: normal;
    }

        #header .left a {
            Color: #FFFFFF;
            font-weight: bold;
        }

    #header .right {
        height: 25px;
        line-height: 25px;
        text-align: right;
        padding-right: 7px;
        padding-top: 5px;
        Color: #1338d1;
    }

        #header .right a {
            Color: #1338d1;
        }

#col_left {
    background: #2276f2;
    text-align: center;
    width: 205px;
    max-width: 205px;
    vertical-align: top;
}

    #col_left .tableAd {
        background: url(imagesAdmin/menu_bg.jpg) repeat-y;
        width: 185px;
        text-align: center;
        margin: 10px 10px 0 10px;
        padding: 0;
        border: 0;
        border-collapse: collapse;
    }

        #col_left .tableAd td {
            text-align: left;
            font-size: 11px;
            font-weight: bold;
            Color: #215dc6;
            width: 168px;
        }

    #col_left .content,
    #col_left .content a {
        Color: #215dc6;
    }

        #col_left .content a:hover {
            Color: #2038f0;
            text-decoration: underline;
        }

    #col_left .content {
        background: #d3e2f9;
        width: 184px;
        text-align: left;
        margin: 0 10px 0 10px;
    }

        #col_left .content ul {
            list-style: none;
            padding: 7px 0;
        }

        #col_left .content li {
            padding-left: 10px;
            line-height: 25px;
            font-size: 11px;
            font-family: tahoma;
        }

            #col_left .content li img {
                border: none;
                padding-right: 5px;
                vertical-align: middle;
            }

    #col_left td.left {
        background: url(imagesAdmin/menu_left.jpg) top left;
        width: 14px;
    }

    #col_left td.right {
        background: url(imagesAdmin/menu_right.jpg) no-repeat top right;
        width: 3px;
    }

    #col_left td.image {
        width: 20px;
        cursor: pointer;
        padding: 0 3px;
    }
    /*#col_left .image img	{ cursor:pointer; }*/
    #col_left .powered_by,
    #col_left .powered_by a {
        padding: 10px 0;
        font-size: 9px;
        text-align: center;
        Color: #FFFFFF;
    }

/*Right*/
#col_right {
    vertical-align: top;
    text-align: left;
    padding-left: 3px;
}

/*Page view*/
.PageName {
    font-weight: bold;
    margin: 7px 0px 5px 0px;
    text-transform: uppercase;
}

.TableView {
    border: 1px solid #EDEDED;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 12px;
    background: #fff;
}

    .TableView .trHeader {
        font-weight: bold;
        text-align: center;
        background: #2276f2;
        Color: #FFFFFF;
    }

        .TableView .trHeader td {
            padding: 2px 0;
            line-height: 15px;
            height: 30px;
        }

    .TableView .tr:hover td {
        background: #d7d620;
    }

    .TableView .trOdd {
        line-height: 24px;
        background: #FFFFFF;
        border: 1px solid #ddd5d5;
    }
        /*d�ng le*/
        .TableView .trOdd td {
            border: 1px solid #ddd5d5;
        }

    .TableView .trEven {
        line-height: 24px;
        background: #f5f5f5;
    }
    /*d�ng chan*/
    .TableView .tdCenter {
        text-align: center;
        width: 30px;
    }

    .TableView .tdLeft {
        text-align: left;
    }

    .TableView .Function {
        text-align: center;
        width: 130px;
        height: 20px;
    }

        .TableView .Function:link {
            padding: 2px 0 2px 0;
            Color: #215dc6;
            font-size: 12px;
        }

        .TableView .Function:active {
            padding: 2px 0 2px 0;
            Color: #215dc6;
            font-size: 12px;
        }

        .TableView .Function input {
            border: 0;
            margin: 0;
            padding: 3px 0 0 0;
        }

    .TableView .Paging {
        line-height: 20px;
    }

    .TableView .Text {
        padding: 0 4px;
        min-width: 140px;
    }

    .TableView .TextSmall {
        padding: 0 4px;
        min-width: 80px;
    }

    .TableView .Multiline {
        padding: 0 4px;
    }

    .TableView .Center {
        text-align: center;
    }

    .TableView .TextShort {
        width: 100px;
        text-align: center;
    }

    .TableView .CheckBox {
        width: 140px;
        text-align: center;
    }

    .TableView .CheckBoxsmall {
        width: 20px;
        text-align: center;
    }

    .TableView .Activehead {
        width: 110px;
        text-align: center;
    }

    .TableView .Date {
        width: 100px;
        text-align: center;
    }

    .TableView .Image {
        width: 150px;
        text-align: center;
    }

    .TableView .ImageSmall {
        width: 120px;
        text-align: center;
    }

    .TableView .Time {
        width: 75px;
        text-align: center;
    }

    .TableView .DateTime {
        width: 165px;
        text-align: center;
    }

    .TableView .DateTimesmal {
        width: 110px;
        text-align: center;
    }

    .TableView .Number {
        width: 100px;
        text-align: center;
    }

    .TableView .NumberM {
        width: 80px;
        text-align: center;
    }

    .TableView .MoneyVND,
    .TableView .MoneyUSD {
        width: 90px;
        text-align: right;
    }

    .TableView .Moneysmall {
        width: 90px;
        text-align: center;
    }

.NumberOrdUp {
    background: url("imagesAdmin/ordup.png") no-repeat scroll 77px center ;
    
}

.NumberOrdDown {
    background: url("imagesAdmin/orddown.png") no-repeat scroll 77px center;
}

.NumberNameUp {
    background: url("imagesAdmin/ordup.png") no-repeat scroll 90px center ;
    
}

.NumberNameDown {
    background: url("imagesAdmin/orddown.png") no-repeat scroll 90px center;
}

.NumberGroupUp {
    background: url("imagesAdmin/ordup.png") no-repeat scroll 66px center ;
    
}

.NumberGroupDown {
    background: url("imagesAdmin/orddown.png") no-repeat scroll 66px center;
}

.NumberDateUp {
    background: url("imagesAdmin/ordup.png") no-repeat scroll 93px center ;
    
}

.NumberDateDown {
    background: url("imagesAdmin/orddown.png") no-repeat scroll 93px center;
}

.NumberSPTonUp {
    background: url("imagesAdmin/ordup.png") no-repeat scroll 87px center ;
    
}

.NumberSPTonDown {
    background: url("imagesAdmin/orddown.png") no-repeat scroll 87px center;
}

.Control {
    margin: 0;
    padding: 0;
    border: 1px solid #99BBE8;
    background: #D0DEF0;
    height: 24px;
    line-height: 24px;
}

    .Control a:link,
    .Control a:visited {
        Color: #000000;
        font-weight: normal;
        text-decoration: none;
    }

    .Control a:hover {
        Color: #000000;
        font-weight: normal;
        text-decoration: none;
    }

    .Control li {
        display: inline;
        float: left;
        list-style: none;
        padding: 0 10px 0 4px;
        background: url(imagesAdmin/control_li_split.gif) right no-repeat;
    }

    .Control .vadd {
        background: url(imagesAdmin/page_add.png) center left no-repeat;
        padding-left: 20px;
    }

    .Control .mulDel {
        background: transparent url(imagesAdmin/delete.png) center left no-repeat;
        cursor: pointer;
        padding-left: 20px;
    }

    .Control .vrefresh {
        background: url(imagesAdmin/refresh.png) center left no-repeat;
        cursor: pointer;
        padding-left: 20px;
    }

.TableView .vedit {
    background: url(imagesAdmin/edit.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.TableView .views {
    background: url(imagesAdmin/page_2.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.TableView .addsub {
    background: url(imagesAdmin/add.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.TableView .vdelete {
    background: url(imagesAdmin/delete.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.TableView .vrefresh {
    background: url(imagesAdmin/refresh.png) center left no-repeat;
    padding: 2px 0 2px 20px;
}

.TableView .vback {
    background: url(imagesAdmin/uplevel.png) center left no-repeat;
    padding: 2px 0 2px 20px;
}

.TableView .vactive {
    background: url(imagesAdmin/start.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
}

.TableView .vnotactive {
    background: url(imagesAdmin/stop.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
}

.TableView .vaddimg {
    background: url(imagesAdmin/image_2.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
}

.checkImg {
    background: url(imagesAdmin/check.gif) center no-repeat;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    display: inline-block;
}

.uncheckImg {
    background: url(imagesAdmin/uncheck.gif) center no-repeat;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    display: inline-block;
}

.Control .uupdate {
    background: url(imagesAdmin/page_save.png) center left no-repeat;
    padding: 2px 0 2px 20px;
    cursor: pointer;
}

.Control .uback {
    background: url(imagesAdmin/back.png) center left no-repeat;
    padding: 2px 0 2px 20px;
}

.Control .vback {
    background: url(imagesAdmin/uplevel.png) center left no-repeat;
    padding: 2px 0 2px 20px;
}

.sortasc {
    background: url(imagesAdmin/asc.gif) left no-repeat;
    padding: 0px 0px 0px 9px;
    Color: #2276f2;
}

.sortdesc {
    background: url(imagesAdmin/desc.gif) left no-repeat;
    padding: 0px 0px 0px 9px;
    Color: #2276f2;
}
/*Page view*/
.TableUpdate {
    width: 100%;
    border: 1px solid #EDEDED;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial;
    font-size: 12px;
}

    .TableUpdate tr {
        line-height: 20px;
        background: #FFFFFF;
    }

    .TableUpdate th {
        width: 120px;
        padding: 2px 5px;
        text-align: left;
        border: 1px solid #ddd5d5;
    }

    .TableUpdate td {
        padding: 2px 2px;
        border: 1px solid #ddd5d5;
    }
        /*.TableUpdate td p       { font-size: 11px; Color: red}*/
        /*.TableUpdate td img     { border: 0; max-width: 50px; }*/
        .TableUpdate td select {
            border: 1px solid #ddd5d5;
            width: 200px;
            font-family: Arial;
            font-size: 12px;
        }

        .TableUpdate td .yesno {
            border: 1px solid #ddd5d5;
            width: 150px;
            font-family: Arial;
            font-size: 12px;
        }

        .TableUpdate td input[type="text"] {
            border: 1px solid #ddd5d5;
        }

    .TableUpdate .text {
        width: 400px;
        height: 18px;
        border-style: solid;
        border: 1px solid #ddd5d5;
    }

    .TableUpdate .multiline {
        width: 98%;
        height: 36px;
    }

    .TableUpdate .image {
        width: 150px;
    }

    .TableUpdate .number {
        width: 100px;
        text-align: right;
        
    }

    .TableUpdate .Ord {
        width: 30px;
        text-align: center;
    }

    .TableUpdate .datetime {
        width: 150px;
    }

    .TableUpdate .date {
        width: 150px;
        height: 18px;
        border-style: solid;
        border: 1px solid #ddd5d5;
    }

    .TableUpdate .time {
        width: 90px;
    }

    .TableUpdate .bottom {
        padding: 3px 5px;
        background: #f38317;
        border-radius: 2px;
        font-family: Arial;
        font-size: 11px;
        Color: #0b1985;
        font-weight: bold;
        margin: 0 5px;
        -moz-box-shadow: 0 0 13px rgba(0,0,0,.15);
        -webkit-box-shadow: 0 0 13px rgba(0,0,0,.15);
        box-shadow: 0 0 13px rgba(0,0,0,.15);
    }

        .TableUpdate .bottom:hover {
            background: #048fee;
        }

    .TableUpdate .textOrd {
        width: 30px;
        height: 18px;
        border-style: solid;
        border: 1px solid #ddd5d5;
        text-align: right;
    }
/*.TableUpdate #Link		{ display:block; }
.TableUpdate #Content	{ display:none; }*/
/*Style edit*/
.editor-table {
    font-size: 12px;
    padding: 10px;
    line-height: 25px;
    border: 1px;
}

    .editor-table em {
        Color: Red;
    }

.editor_label {
    font-weight: bold;
    width: 150px;
}

.editor_field {
    font-weight: normal;
}

.title {
    width: 450px;
}

.description {
    width: 100%;
}

.keywords {
    width: 100%;
    height: 80px;
}

/*Login*/
.left_top {
    background-image: url(imagesAdmin/xpwindowleft.jpg);
    width: 13px;
    background-repeat: no-repeat;
    height: 30px;
}

.right_top {
    background-position: right 50%;
    background-image: url(imagesAdmin/xpwindowright.jpg);
    width: 13px;
    background-repeat: no-repeat;
    height: 30px;
}

.top_bg {
    font-weight: bold;
    font-size: 13px;
    background-image: url(imagesAdmin/xpwindowbg.jpg);
    height: 30px;
    Color: #ffffff;
    background-repeat: repeat-x;
    font-family: verdana;
}

.top_bg2 {
    font-weight: bold;
    padding-left: 150px;
    font-size: 13px;
    background-image: url(imagesAdmin/top.jpg);
    background-repeat: no-repeat;
    border-left: #001eed 1px solid;
    border-right: #001eed 1px solid;
    width: auto;
    height: 70px;
    Color: #ff3300;
    font-family: verdana;
}

.bottom_login {
    border-left: #001eed 1px solid;
    border-right: #001eed 1px solid;
    border-bottom: #001eed 1px solid;
    height: 1px;
}

.logname {
    font-size: 11px;
    Color: #0b1985;
    font-family: verdana;
}

.txtbox {
    border-right: #0b1985 1px solid;
    border-top: #0b1985 1px solid;
    text-align: left;
    border-left: #0b1985 1px solid;
    width: 250px;
    Color: #1c2874;
    border-bottom: #0b1985 1px solid;
    height: 19px;
}

.selectbox {
    border-right: #3854a1 1px solid;
    border-top: #3854a1 1px solid;
    border-left: #3854a1 1px solid;
    border-bottom: #3854a1 1px solid;
    font-family: verdana;
    font-size: 12px;
    padding-left: 10px;
    height: 19px;
    text-align: left;
}

.bg_main {
    border-right: #001eed 1px solid;
    background: url(imagesAdmin/bg_login.jpg) repeat-x center bottom;
    padding-bottom: 10px;
    border-left: #001eed 1px solid;
    padding-top: 10px;
}

.txt3 {
    font-size: 10px;
    Color: #0b1985;
    font-family: verdana;
    text-align: justify;
}

.buttom_image {
    font-size: 12px;
    font-weight: bold;
    width: 100px;
}




/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error {
    Color: #ff0000;
    font-size: 11px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-Color: #ffeeee;
}

.validlabel {
    color: #d41212;
}

.validation-summary-errors {
    font-weight: bold;
    Color: #ff0000;
    padding: 10px 0;
}

.validation-summary-valid {
    display: none;
}

.validate-form label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 20px;
    padding: 0;
    text-align: left;
    width: 220px;
}

.MaskedEditFocus {
    background-Color: #ffffcc;
    Color: #000000;
}

.MaskedEditMessage {
    Color: #ff0000;
    font-weight: bold;
}

.MaskedEditError {
    background-Color: #ffcccc;
}

.MaskedEditFocusNegative {
    background-Color: #ffffcc;
    Color: #ff0000;
}

.MaskedEditBlurNegative {
    Color: #ff0000;
}

.abc {
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: center bottom;
}

.pageadmin {
    height: 30px;
    width: 100%;
    font-family: Arial;
    font-size: 11px;
    text-align: center;
}

.pagingContainer {
    float: left;
    margin: 5px 0 5px 330px;
}

    .pagingContainer a {
        background: #f2fa8c;
        padding: 2px 5px;
        margin: 0 5px;
        border: 1px solid #048fee;
        Color: #215dc6;
        text-decoration: none;
    }

        .pagingContainer a:hover {
            border: 1px solid red;
            text-decoration: none;
        }

.pageInfo {
    float: left;
    padding: 0 8px;
    margin: 3px 0;
    background: #048fee;
    border: 1px solid #001eed;
    border-radius: 2px;
    Color: white;
}

/*Phan trang*/
.tablePaging {
    border-Color: RGB(0,61,121);
    font-family: Arial;
    font-size: 12px;
    margin: 5px auto;
}

    .tablePaging td a {
        border: 1px solid #dfe0df;
        background: #ffffff;
        padding: 4px 7px;
        margin: 2px;
        Color: #5aa9de;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .tablePaging td a:hover {
            background: #63aede;
            Color: #fff;
            border: 1px solid #1f79b4;
        }

    .tablePaging td span {
        border: 1px solid #1f79b4;
        background: #5aa9de url(images/bg_pager.png) repeat-x;
        padding: 4px 7px;
        margin: 2px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        Color: #fff;
    }

/*Hien thi Link theo Module o bang Page*/
#LinkModule {
    display: none;
}

/*Hien thi bang hoa don*/
.ViewBill {
    width: 97%;
    border: 3px double #525461;
    line-height: 22px;
    margin: 20px auto 30px auto;
    padding: 5px;
}

    .ViewBill .title {
        float: left;
        width: 210px;
        margin: 0 30px;
    }

        .ViewBill .title p {
            font-weight: bold;
        }

    .ViewBill .info {
        float: left;
    }

.billdetail {
    width: 98.5%;
    margin: 0 auto 30px auto;
    border-collapse: collapse;
    border: 1px solid #525461;
}

    .billdetail tr:first-child {
        background: #2a65a3;
        height: 30px;
        font-size: 13px;
        Color: #fff;
    }

    .billdetail tr:last-child {
        background: #e8e8e8;
    }

    .billdetail th {
        text-align: center;
    }

    .billdetail td {
        text-align: center;
    }

    .billdetail .namePro {
        width: 60%;
        padding-left: 8px;
        text-align: left;
    }

    .billdetail .totalprice {
        font-weight: bold;
        text-align: right;
        font-size: 13px;
        padding-right: 60px;
    }

/*Hien thi Thong tin chi tiet phieu xuat*/

.viewInfo {
    margin: 20px 0 50px 20px;
}

    .viewInfo div {
        float: left;
        line-height: 30px;
    }

        .viewInfo div:first-child {
            width: 180px;
            font-weight: bold;
            text-align: left;
        }

        .viewInfo div p {
            text-align: left;
        }

.ImportDetail h2, .ImportDetail p {
    text-align: center;
}

.ImportDetail table {
    width: 98%;
    border: 1px solid #525461;
    border-collapse: collapse;
    margin: 30px auto;
}

    .ImportDetail table tr {
        height: 30px;
    }

        .ImportDetail table tr:first-child {
            background: #5f4548;
            Color: #fff;
        }

        .ImportDetail table tr:last-child {
            background: #f0f0f0;
        }

            .ImportDetail table tr:last-child td:first-child {
                text-align: right;
                padding-right: 80px;
                font-weight: bold;
            }

        .ImportDetail table tr td, .ImportDetail table tr th {
            text-align: center;
        }

    .ImportDetail table .STT {
        width: 10px;
        text-align: center;
    }

    .ImportDetail table .NamePro {
        width: 60%;
        padding: 0 0 0 5px;
        text-align: left;
    }

.ImportDetail span, .ImportDetail h4 {
    margin: 10px;
    Color: #000;
}

/*Hien thi Them Phieu xuat moi*/
.ImportCreate h2, .ImportCreate p {
    text-align: center;
}

table.proImport {
    width: 98%;
    border: 1px solid #525461;
    border-collapse: collapse;
    margin: 30px auto;
}

    table.proImport tr {
        height: 30px;
    }

        table.proImport tr:first-child {
            background: #5f4548;
            Color: #fff;
        }

        table.proImport tr.trTotal {
            background: #f0f0f0;
        }

            table.proImport tr.trTotal td:first-child {
                text-align: right;
                padding-right: 80px;
                font-weight: bold;
            }

            table.proImport tr.trTotal td.last {
                text-align: left;
                padding-left: 46px;
            }

        table.proImport tr td, .ImportCreate table.proImport tr th {
            text-align: center;
        }

    table.proImport input[type="text"] {
        text-align: center;
    }

.vdel {
    background: url(imagesAdmin/delete.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.edit {
    background: url(imagesAdmin/edit.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.add {
    background: url(imagesAdmin/add1.png) center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    display: inline-block;
    margin-top: 5px;
}

.TopSearch {
    width: 100%;
    background: #D0DEF0;
    padding: 3px 0 3px 3px;
}

    .TopSearch ul li {
        float: left;
        padding-left: 10px;
    }

.ViewUserWareHouse h2 {
    text-align: center;
}

.ViewUserWareHouse div.note {
    margin: 10px;
}

.divShowHideHistory {
    margin: 30px 10px;
}

.showHideHistory {
    Color: #2c579b;
    font-size: 12px;
    cursor: pointer;
}

.divShowHideHistory table {
    width: 98%;
    border: 1px solid #525461;
    border-collapse: collapse;
    margin: 30px auto;
}

    .divShowHideHistory table tr {
        height: 30px;
    }

        .divShowHideHistory table tr td, .divShowHideHistory table tr th {
            text-align: center;
        }

            .divShowHideHistory table tr td:first-child, .divShowHideHistory table tr th:first-child {
                width: 20px;
            }

        .divShowHideHistory table tr:first-child {
            background: #5f4548;
            Color: #fff;
        }

/*Img Product*/
.imgView {
    width: 90px;
    height: 115px;
    border: 1px solid #dfdfdf;
    float: left;
    margin: 10px;
}

    .imgView img {
        width: 90px;
        height: 90px;
        display: block;
        margin-bottom: 3px;
    }

    .imgView .funcImg {
        width: 20px;
        display: block;
    }

        .imgView .funcImg a {
            margin: 0px 10px;
        }

.thumbnail {
    height: 100px;
    margin: 10px;
}

.editImg {
    float: left;
}

    .editImg img {
        width: 90px;
        height: 90px;
        margin: 10px;
    }

    .editImg:hover img {
        border: 1px solid #a0a0a0;
    }

.addImg {
    Color: #333333;
    background: url(imagesAdmin/add1.png) no-repeat left center;
    padding-left: 19px;
    margin-left: 10px;
}


.TopSearchImpExp {
    padding-top: 3px;
    background: #d0def0;
    padding-left: 10px;
}

    .TopSearchImpExp table {
        width: 100%;
        border-collapse: collapse;
    }

        .TopSearchImpExp table tr {
            height: 30px;
        }

            .TopSearchImpExp table tr td {
                width: 100px;
            }

                .TopSearchImpExp table tr td input[type="submit"] {
                    border: 1px solid #c9c9c9;
                    background: #ddd;
                    cursor: pointer;
                }

.boxImpExp {
    width: 100%;
    background: #fff;
}

    .boxImpExp .tbViewPro, .proImport {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0px;
    }

        .boxImpExp .tbViewPro tr, .proImport tr {
            height: 30px;
            padding-left: 5px;
        }

    .boxImpExp .proImport tr .trTilte {
        text-align: right;
        padding-right: 5px;
    }

    .boxImpExp .proImport tr .trTotal {
        text-align: left;
        padding-left: 40px;
    }

.boxTitle {
    width: 100%;
}

    .boxTitle div {
        float: left;
        margin: 10px;
    }

    .boxTitle li {
        float: left;
    }

        .boxTitle li span {
            margin: 0px 10px 0 20px;
            line-height: 30px;
        }

    .boxTitle ul {
        margin: 20px 10px 0;
    }

.tbViewPro tr:first-child {
    background: #2a65a3;
    Color: #fff;
}

.tbViewPro tr th, .tbViewPro tr td {
    text-align: center;
}

.tbViewPro tr .first {
    text-align: center;
    width: 40px;
}

.tbViewPro tr .last {
    text-align: center;
    width: 140px;
}

.tbViewPro tr .text {
    text-align: left;
    padding-left: 5px;
}

.btnSubmit {
    cursor: pointer;
    border: 1px solid #c9c9c9;
    background: #747474;
    Color: #fff;
    padding: 3px;
}

.note {
    margin: 0 10px;
}

    .note textarea {
        background: #ddd5d5;
        border-radius: 5px;
        padding: 5px;
    }

.gendb {
    width: 600px;
    margin: 30px auto;
    text-align: center;
}

    .gendb textarea {
        padding: 5px;
    }

    .gendb input[type="submit"] {
        margin: 10px 0;
        border: 1px solid #c6c4c8;
        background: #a3a3a3;
        height: 25px;
        width: 130px;
        cursor: pointer;
        Color: #fff;
        font-size: 14px;
    }

    .gendb p {
        Color: red;
    }
