<div class="ui-widget-content ui-corner-top ui-corner-bottom">
    <div id="toolbox">

        <div style="float: right;" class="toolbox-content">

            <table class="toolbar">
                <tr>

                    <td align="center">
                        <a title="Trợ giúp" class="toolbar btn btn-info" href="#"><i class="icon-question-sign"></i>&nbsp;
                            Trợ giúp</a>
                    </td>

                    <td align="center">
                        <a title="Thêm mới" class="toolbar btn btn-info" href="#"><i class="icon-plus"></i>&nbsp;
                            Thêm mới</a>
                    </td>

                    <td align="center">
                        <a title="Xóa" class="toolbar btn btn-info" href="#"><i class="icon-trash"></i>&nbsp;
                            Xóa </a>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
